<h1><%=@team.name%></h1>
<br>
<h2>Team Motto: <%=@team.motto%></h2>
<br>
<h2>Hero Name: <%=@heroes[0].name%></h2>
<br>
<p>Hero Power: <%=@heroes[0].power%></p>
<p>Hero Biography: <%=@heroes[0].biography%></p>


<h2>First Ship</h2>
<h4>Ship Name: <%=@ships[0].name%></h4>
<h4>Ship Type: <%=@ships[0].type%></h4>
<h4>Ship Booty: <%=@ships[0].booty%></h4>


<h2>Second Ship</h2>
<h4>Ship Name: <%=@ships[1].name%></h4>
<h4>Ship Type: <%=@ships[1].type%></h4>
<h4>Ship Booty: <%=@ships[1].booty%></h4>
